TELEGRAM_BOT_TOKEN=
BOT_USERNAME=DGrabstgbot
STORE_NAME=Daddy Grab Super App
MINIAPP_URL=http://daddygrab.online/
ADMIN_URL=http://daddygrab.online/admin
GSHEET_NAME=Daddy Grab Super App Sales - Staging
GSHEET_ID=
ADMIN_USER_ID=8488339614
ADMIN_IDS=8488339614
ADMIN_GROUP_ID=-1003785747521
DADDYGRAB_RUNTIME_ROOT=/opt/daddygrab-super-app
DADDYGRAB_CART_SESSION_API_TOKEN=
SERVICE_ACCOUNT_INFO_JSON=
