TELEGRAM_BOT_TOKEN=
BOT_USERNAME=DGrabstgbot
STORE_NAME=Daddy Grab Super App
MINIAPP_URL=https://daddygrab.online/
ADMIN_URL=https://store.daddygrab.online/admin
ADMIN_USER_ID=8488339614
ADMIN_IDS=8488339614
ADMIN_GROUP_ID=-1003785747521
DADDYGRAB_RUNTIME_ROOT=/opt/daddygrab-super-app

STOREFRONT_PUBLIC_BASE_URL=https://store.daddygrab.online
SUPABASE_PROJECT_URL=
SUPABASE_PUBLIC_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=
ORDER_ALERT_EMAIL=
